.catalogSlot {
    
    max-width: 1240px;
    margin: 0 auto;
    width: 100%;
    margin-top: 64px ;
    margin-bottom: 100px;
    display: flex;
    justify-content: space-between;
    
}


.image {
    max-height: 476px;    
}
